.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.react-multi-carousel-dot-list {
  left: auto !important;
  margin: 20px 0 0 !important;
}

.react-multi-carousel-dot button {
  border: none !important;
  outline: none !important;
  width: 32px !important;
  height: 8px !important;
  border-radius: 8px !important;
}

@keyframes growDown {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@keyframes growUp {
  0% {
    opacity: 0;
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(-90deg);
  }
}
